<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO - trybe</title>
    <link rel="stylesheet" href="./css/chat.css">
  </head>
  <body>
    <ul id="messages">
      <% messages.forEach((mess) => { %>
        <li data-testid="message"><%= `${mess.timestamp} - ${mess.nickname}: ${mess.message}` %></li>
      <% }) %>
    </ul>
    <ul id="userson"></ul>
    <div>
      <form id="formsMessage" action="">
        <input name="message" type="chatMessage" data-testid="message-box" id="messageInput" autocomplete="off" />
        <button type="submit" data-testid="send-button">Send</button>
      </form>
      <form id="formsNickName" action="">
        <input id="nickInput" data-testid="nickname-box" autocomplete="off" />
        <button data-testid="nickname-button">Change</button>
      </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src='./js/chat.js'></script>
  </body>
</html>