<!DOCTYPE html>
<html>
  <head>
    <title>Webchat</title>
  </head>
  <body>
    <div>
      <ul id="messages"></ul>
      <div>
        <form action=""">
          <input type="text" id="message-input">
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script src='js/chat.js'></script>
  </body>
</html>