<!DOCTYPE html>
<html>
  <head>
    <title>Webchat</title>
  </head>
  <body>
    <div>
      <p id="nickname" data-testid="online-user"></p>
      <form id="nickname-form">
        <input data-testid="nickname-box" type="text" id="nickname-input" placeholder="change your nickname!">
        <button type="submit" data-testid="nickname-button">Change</button>
      </form>
    </div>
    <div>
      <ul id="messages"></ul>
      <div>
        <form id="message-form" action=""">
          <input data-testid="message-box" type="text" id="message-input">
          <button type="submit" data-testid="send-button">Send</button>
        </form>
      </div>
    </div>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script src='js/chat.js'></script>
  </body>
</html>