<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="../css/chat.css"> -->
  <title>WebChat</title>
</head>
<body>
  <h1>WebChat</h1>
  <h2 data-testid="online-user" id="online-user"></h2>
  <form action="" id='formNick'>
    <input id="inputNick" autocomplete="off" data-testid="nickname-box"/><button data-testid="nickname-button">Alter Nick</button>
  </form>
  
  <form action="" id='formMessage'>
    <input id="messageInput" autocomplete="off" data-testid="message-box"/><button data-testid="send-button">Send</button>
  </form>  
  <ul id="messages"></ul>
  <script src="/socket.io/socket.io.js"></script>
  <script src="../js/webchat.js"></script>
</body>
</html>