<!DOCTYPE html>
<html lang="en">
<head>
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>Webchat</h1>

  <ul id="users">
  </ul>
  
    <input id="nickname" type="text" data-testid="nickname-box" placeholder="Nickname" />
    <button id="newNickname" data-testid="nickname-button">Salvar</button><br>

  <ul id="messages">
    <% if (messages) {%>
      <% messages.map(({ message, nickname, timestamp }) => {%>
        <li data-testid="message"><%= timestamp%> - <%=nickname%>: <%=message%></li>
      <%})%>
    <%}%>
  </ul>

  <form action="board.ejs" method="post">
    <input id="text" type="text" data-testid="message-box" placeholder="Mensagem" />
    <button id="submit" data-testid="send-button">Enviar</button>
  </form>

  <script>
    const nick = Math.random().toString(16).substr(2, 8) + Math.random().toString(16).substr(2, 8);
    // Ederson Rodrigues PR: https://github.com/tryber/sd-010-b-project-webchat/pull/16

    const socket = io('http://localhost:3000');
    
    
    const btnNewNick = document.getElementById('newNickname');
    btnNewNick.addEventListener('click', () => {
      const newNickname = document.getElementById('nickname').value;
      socket.emit('userOn', newNickname)
    });
    
    socket.on('message', (message) => {
      const { chatMessage, data } = message;
      const li = document.createElement('li');
      li.innerHTML = message;
      li.setAttribute('data-testid', 'message')
      document.getElementById('messages').appendChild(li)
    });

    socket.emit('userOn', nick);

    socket.on('usersOn', (users) => {
      const ulUsers = document.getElementById("users");
      ulUsers.innerHTML = "";
      users.map((user) => {
        const li = document.createElement('li');
        li.setAttribute("data-testid", "online-user")
        li.innerText = user.user;
        socket.id === user.id
        ? ulUsers.prepend(li)
        : ulUsers.appendChild(li);
        });
      console.log(users);
    })

    const btnSend = document.getElementById('submit');
    btnSend.addEventListener('click', (event) => {
      event.preventDefault();
      const text = document.getElementById('text');
      const nickname = document.getElementById('nick').innerHTML;
      socket.emit('message', { nickname, chatMessage: text.value });
      text.value = '';
    });

  </script>
</body>
</html>