<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Chat</h1>
  <div>
    <div>
        <input id="name" type="text"
          placeholder="Insira seu nome"
          data-testid="nickname-box"
        />
      <button id="salvar" data-testid="nickname-button">Ssalvar</button>
    </div>
    <div>
      <section id="esquerda" data-index="3">
        <ul id="idUl" class="classUl"></ul>
      </section>
      <section id="direita">
        <ul id="ul"></ul>
      </section>
    </div>
    <div>
        <input id="message" type="text"
        data-testid="message-box"/>
      <button id="enviar" data-testid="send-button">Enviar</button>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io('http://localhost:3000/');
    const salvar = document.getElementById('salvar');
    const enviar = document.getElementById('enviar');
    let nickname;
    console.log(nickname);

    function removeUl() {
      const pai = document.getElementById('esquerda');
      pai.removeChild(pai.children[0]);
    }

    function addUl() {
      const esquerda = document.getElementById("esquerda");
      const ul = document.createElement("ul");
      ul.setAttribute("id", "idUl");
      ul.classList.add("classUl");
      esquerda.appendChild(ul);
    }
    
    function renderNamesLogados(namesLogados) {
      removeUl();
      addUl();
      const ul = document.getElementById("idUl");
      namesLogados.forEach((names) => {
        const li = document.createElement("li");
        li.appendChild(document.createTextNode(names));
        li.classList.add("content-li");
        li.setAttribute('data-testid', 'online-user');
        ul.appendChild(li);
      });
    }

    function renderMessage(user) {
      const ul = document.getElementById("ul");
      const li = document.createElement("li");
      li.innerText = user;
      li.setAttribute('data-testid', 'message');
      ul.appendChild(li);
    }
    
    function renderGetMessages(all) {
      const ul = document.getElementById("ul");
      console.log('all db', all);
      all.forEach((messages) => {
        const { message, nickname, timestamp } = messages;
        const li = document.createElement("li");
        li.innerText = `${timestamp} - ${nickname} : ${message}`;
        li.setAttribute('data-testid', 'message');
        ul.appendChild(li);
      })
    };

    socket.on('html', (all) => {
      renderGetMessages(all)
    });

    socket.on('nomeAleatorio', randomAll => {
      renderNamesLogados(randomAll);
    });

    socket.on('message', (user) => {
      renderMessage(user);
    });

    salvar.addEventListener('click', () => {
      const name = document.getElementById('name').value;
      nickname = name;
      socket.emit('salveUserr', name);
    });
    enviar.addEventListener('click', () => {
      const chatMessage = document.getElementById('message').value;
      console.log(chatMessage);
      socket.emit('message', {chatMessage,  nickname});
    });
  </script>
</body>
</html>