<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEBCHAT</title>
</head>
<body>
  <h1>WEBCHAT</h1>
  <div>
    <h3>Usuários Online</h3>
    <ul id="online-list">
    </ul>
  </div>
  <ul id="messages"data-testid="message-box"></ul>
  <input id="nickname" autocomplete="on" data-testid="nickname-box"/><button data-testid="nickname-button">Send</button>
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button data-testid="send-button">Send</button>
    </form>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    window.onload = () => {
    const user = (Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15)).substring(0, 16);
    // https://gist.github.com/6174/6062387
    document.getElementById('nickname').value = user;
    socket.emit('new-user', user); 
    //envia novo usuário para o servidor
    }
    
    const form = document.getElementById('form');
    const input = document.getElementById('input');
    const nickname = document.getElementById('nickname');

    form.addEventListener('submit', (e) => {
      e.preventDefault();
      if (input.value && nickname.value) {
        // como pedido no requisito 1
        socket.emit('message', {chatMessage: input.value, nickname: nickname.value}); 
        input.value = '';
      }
    });

    socket.on('message', (message) => {
      const messages = document.getElementById('messages');
      const li = document.createElement('li');
      li.setAttribute('data-testid', 'message');
      li.textContent = message;
      messages.appendChild(li);
    });

    socket.on('online', (onlineList) => {
      const ul = document.getElementById('online-list');
      consolelog(onlineList);
      onlineList.forEach((user) => {
        const li = document.createElement('li');
        li.setAttribute('data-testid', 'online-user');
        li.textContent = user.nickname;
        ul.appendChild(li);
      })
    });
  </script>
</body>
</html>


<!-- HTML baseado na documentação do socket.io -->