<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEBCHAT</title>
</head>
<body>
  <h1>WEBCHAT</h1>
  <div>
    <h2>Bem vindo <span id="main-user" data-testid="online-user"></span></h2>
    <h3>Usuários Online</h3>
    <ul id="online-list">
    </ul>

  </div>
  <div>
    <h3>Mensagens</h3>
    <ul id="messages" >
      <% messages.forEach(({nickname, message, timestamp}) => { %>
        <li data-testid="message"><%= `${timestamp} - ${nickname}: ${message}` %></li>
      <%})%>
  </ul>
  </div>
  <form id="nickname-container">
    <input id="nickname" autocomplete="on" data-testid="nickname-box"/>
    <button data-testid="nickname-button">Novo Nome</button>
  </form>  
    <form id="message-container" action="">
      <input id="input" autocomplete="off" data-testid="message-box"/>
      <button data-testid="send-button">Enviar Mensagem</button>
    </form>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    let user = '';
    
    window.onload = () => {
    user = (Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15)).substring(0, 16);
    // https://gist.github.com/6174/6062387
    
    document.getElementById('main-user').innerText = '';
    document.getElementById('main-user').innerText = user;
    socket.emit('new-user', user); 
    //envia novo usuário para o servidor
    }
    
    const messageContainer = document.getElementById('message-container');
    const input = document.getElementById('input');
    const nickname = document.getElementById('nickname');
    const nickButton = document.getElementById('nickname-button');
    const nickContainer = document.getElementById('nickname-container');

    nickContainer.addEventListener('submit', (e) => {
      e.preventDefault();
      user = nickname.value;
      document.getElementById('main-user').innerText = '';
      document.getElementById('main-user').innerText = user;
      console.log(user);
      socket.emit('edit-user', user);
    });



    messageContainer.addEventListener('submit', (e) => {
      e.preventDefault();
      if (input.value && user) {
        // como pedido no requisito 1
        socket.emit('message', {chatMessage: input.value, nickname: user}); 
        input.value = '';
      }
    });

    socket.on('message', (message) => {
      const messages = document.getElementById('messages');
      const li = document.createElement('li');
      li.setAttribute('data-testid', 'message');
      li.innerText = message;
      messages.appendChild(li);
    });

    socket.on('online', (onlineList) => {
      const ul = document.getElementById('online-list');
      while (ul.childNodes.length > 0) {
        ul.removeChild(ul.lastChild);
      }
      const userIndex = onlineList.findIndex((item) => item.nickname === user);
      onlineList.splice(userIndex, 1);
      onlineList.forEach((user) => {
        const li = document.createElement('li');
        li.setAttribute('data-testid', 'online-user');
        li.innerText = user.nickname;
        ul.appendChild(li);
      })
    });
  </script>
</body>
</html>


<!-- HTML baseado na documentação do socket.io -->