<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
</head>
<body>
  <div>
    <ul id="ul-msg"></ul>
    <form>
      <input type="text" name="username" placeholder="Digite seu nome" id="input-message"/>
      <button type="submit" id="send-message" >Entrar</button>
    </form>
  </div>
   <!-- <p>Online user</p>-->
  <script src="/socket.io/socket.io.js"></script>
  <script src="./js/script.js"></script>
</body>
</html>