<!doctype html>
<html>

  <head>
    <title>Trybe - Chat</title>
    <link rel="stylesheet" type="text/css" href="css/chat.css">
  </head>

  <body>
    <div class="container-users">

      <form action="" class="form-user">
        <input data-testid="nickname-box" id="nickname-box" />
        <button data-testid="nickname-button">Salvar</button>
      </form>


      <div class="users-online">

        <h2>Your nick:</h2>
        <div class="user-container">
          <h3 id='user-name' data-testid="online-user"></h3>
        </div>

        <h2>Users online:</h2>
        <div class="others-users"></div>

      </div>

    </div>

    <div class="container-messages">
      <% messages.forEach(({ chatMessage, nickname, timestamp })=> { %>
        <p data-testid="message">
          <%= timestamp %> - <%= nickname %>: <%= chatMessage %>
        </p>
        <% }) %>
    </div>

    <form action="" class="form-message">
      <input data-testid="message-box" id="message-box" />
      <button data-testid="send-button">Send</button>
    </form>
  </body>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/chat.js"></script>

</html>
