<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <div>
    <ul id="messages"></ul>
  </div>
  <div>
    <ul id="users"></ul>
  </div>

  <div>
    <input placeholder="Nickname" data-testid="nickname-box" id="nicknameInput" autocomplete="off" />
    <button data-testid="nickname-button" id="nicknameBtn">Salvar</button>
  </div>
  <div>
    <input placeholder="Escreva algo" data-testid="message-box" id="messageInput" autocomplete="off" />
    <button data-testid="send-button" id="messageBtn">Send</button>
  </div>

  <script>
    const socket = io();

    const createListItem = (text, ulID, atribute) => {
      /*SOURCE https://developer.mozilla.org/pt-BR/docs/Web/API/Element/setAttribute*/
      const li = document.createElement('li');
      li.append(text);
      if (ulID === 'users') li.id = text;
      li.setAttribute("data-testid", `${atribute}`);
      document.getElementById(`${ulID}`).appendChild(li);
    }

    socket.on('onlineUsers', (user) => {
      createListItem(user, 'users', 'online-user')
    });
    
    socket.on('saveNickname', (randomNickname) => {
      sessionStorage.setItem('nickname', randomNickname);
    });
    
    socket.on('updateNickname', ({ previousNickname, atual }) => {
      const previousNicknameUser = document.getElementById(`${previousNickname}`);
      previousNicknameUser.id = atual;
      previousNicknameUser.innerText = atual;
    });

    socket.on('offLineUser', (user) => {
      const disconnectedUser = document.getElementById(`${user}`);
      const usersList = document.querySelector('#users');
      usersList.removeChild(disconnectedUser)
    });

    socket.on('message', (message) => {
      createListItem(message, 'messages', 'message')
    });

    const nicknameBtn = document.querySelector('#nicknameBtn');
    const messageBtn = document.querySelector('#messageBtn');
    const inputMessage = document.querySelector('#messageInput');
    const nicknameInput = document.querySelector('#nicknameInput');

    nicknameBtn.addEventListener('click', (e) => {
      /*Source https://qastack.com.br/programming/6193574/save-javascript-objects-in-sessionstorage*/
      const previousNickname = sessionStorage.getItem('nickname');
      sessionStorage.setItem('nickname', nicknameInput.value);
      socket.emit('updateNickname', { previousNickname, atual : nicknameInput.value });
      nicknameInput.value = '';
    });

    messageBtn.addEventListener('click', (e) => {
      socket.emit('message', { chatMessage: inputMessage.value, nickname: sessionStorage.getItem('nickname') });
      inputMessage.value = '';
      return false;
    });
  </script>
</body>
</html>
