<!-- based on https://socket.io/get-started/chat -->
<!DOCTYPE html>
<html>

<head>
    <title>TRYBE - WebChat</title>
    <style>
    </style>
</head>

<body>
    <h1> WebChat</h1>
    <div id="div-nickname">
        <input id="input-nickname" data-testid="nickname-box" />
        <button id="nickname-button" data-testid="nickname-button" type="button">Ok</button>
    </div>
    <div id="others"></div>
    <ul id="messages"></ul>
    <form id="form" action="">
        <input id="input" data-testid="message-box" />
        <button data-testid="send-button">Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        const form = document.getElementById('form');
        const input = document.getElementById('input');
        const nicknameBtn = document.getElementById('nickname-button');

        nicknameBtn.addEventListener('click', (e) => {
            const inputNickname = document.getElementById('input-nickname');
            const div = document.getElementById('div-nickname');
            const dSpan = document.getElementById('online-user')
            div.removeChild(dSpan);
            const span = document.createElement('span');
            span.setAttribute("data-testid", "online-user");
            span.setAttribute("id", "online-user");
            span.textContent = inputNickname.value;
            div.appendChild(span);

            socket.emit('nickname', inputNickname.value);
        });

        window.onload = () => {
            let nickname = document.getElementById('nickname');
            // https://gist.github.com/6174/6062387
            let random = Math.random().toString(36).substring(2, 10) + Math.random().toString(36).substring(2, 10);
            const div = document.getElementById('div-nickname');
            const span = document.createElement('span');
            span.setAttribute("data-testid", "online-user");
            span.setAttribute("id", "online-user");
            span.textContent = random;
            div.appendChild(span);
            socket.emit('adduser', random);
        };

        form.addEventListener('submit', (e) => {
            e.preventDefault();
            const span = document.querySelector('span');
            console.log(span.innerText);
            if (input.value) {
                const data = { nickname: span.innerText, chatMessage: input.value };
                console.log(data);
                socket.emit('message', data);
                input.value = '';
            }
        });
        socket.on('message', (message) => {
            const ul = document.getElementById('messages');
            const { dataAtual, horaAtual, data, nickname } = message;
            const li = document.createElement('li');
            li.setAttribute("data-testid", "message");
            li.textContent = message;
            ul.appendChild(li);
        })
        socket.on('guests', (guests) => {
            const indexAchado = guests.findIndex((item) => item.id === socket.id)
            guests.splice(indexAchado, 1);
            console.log(guests);
            const div = document.getElementById('others');
            div.innerText = ""
            for (let i = 0; i < guests.length; i++) {
                console.log(guests[i].nome);
                const span = document.createElement('span');
                span.setAttribute("data-testid","online-user");
                span.setAttribute("id",`online-user-${guests[i].id}`);
                span.textContent = guests[i].nome;
                div.appendChild(span);
            }

        })

    </script>
</body>

</html>