<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebChat</title>
  <link rel="stylesheet" href="../public/assets/style.css">
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <form id='nickname-form'>
    <label for='nickname'>Insira seu nickname</label>
    <input type="text" id="nickname-box" name="nickname" data-testid="nickname-box">
    <button type="submit" id="nickname-button" data-testid="nickname-button">Salvar</button>
  </form>
  <h5 id="nicknameElement" data-testid="online-user"></h5>
  <h3>Usuários</h3>
  <h3>Mensagens</h3>
  <ul id="messages">
    <%dataDb.messages.forEach((message)=>{%><li data-testid="message"><%= `${message.date} - ${message.nickname}: ${message.chatMessage}` %></li><%})%>
  </ul>
  <form id='newMessageForm'>
    <input type="text" placeholder="Digite uma nova mensagem aqui" id="newMessage" data-testid="message-box">
    <button type="submit" id="submitNewMessage" data-testid="send-button">Enviar</button>
  </form>

  <script>
    const socket = io();
    const { sessionStorage } = window;

    socket.on('setIdNickname', () => {
      const sessionNickname = sessionStorage.getItem('nickname');
      if(!sessionNickname){
        sessionStorage.setItem('nickname', socket.id.slice(4));
      }
      const nicknameElement = document.getElementById('nicknameElement');
      nicknameElement.innerText = sessionStorage.getItem('nickname');
    })

    socket.on('message', (data) => {
      const li = document.createElement('li');
      li.innerText = data;
      li.setAttribute('data-testid', 'message')
      document.getElementById('messages').appendChild(li);
    });

    const btn = document.getElementById('submitNewMessage');
      btn.addEventListener('click', () => {
        const text = document.getElementById('newMessage');
        const nickname = sessionStorage.getItem('nickname');
        socket.emit('message', { chatMessage: text.value, nickname });
        text.value = '';
      });

      const newMessageForm = document.getElementById('newMessageForm');
      newMessageForm.addEventListener('submit', (e)=> e.preventDefault());
      const nicknameForm = document.getElementById('nickname-form');
      nicknameForm.addEventListener('submit', (e)=> e.preventDefault());

    const nicknameButton = document.getElementById('nickname-button');
      nicknameButton.addEventListener('click', () => {
        const nicknameInputEl = document.getElementById('nickname-box');
        sessionStorage.setItem('nickname', nicknameInputEl.value);
        nicknameInputEl.value = '';
        const nicknameElement = document.getElementById('nicknameElement');
        nicknameElement.innerText = sessionStorage.getItem('nickname');
    })

  </script>
</body>
</html>