<!doctype html>
<html>

  <head>
    <title>Trybe - Chat</title>
    <link rel="stylesheet" type="text/css" href="css/chat.css">
  </head>

  <body>
    <div class="container-users">

      <form action="" class="form-user">
        <input data-testid="nickname-box" id="nickname-box" />
        <button data-testid="nickname-button">Salvar</button>
      </form>


      <div class="users-online">

        <div class="user-container">
          <h2>Your nick:</h2>
          <h3 id='user-name' data-testid="online-user"></h3>
        </div>

        <div class="others-users">
          <h2>Users online:</h2>
          <h3 data-testid="online-user">user 1</h3>
          <h3 data-testid="online-user">user 2</h3>
          <h3 data-testid="online-user">user 2</h3>
        </div>

      </div>

    </div>

    <div class="container-messages"></div>

    <form action="" class="form-message">
      <input data-testid="message-box" id="message-box" />
      <button data-testid="send-button">Send</button>
    </form>
  </body>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/chat.js"></script>

</html>
