<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebChat</title>
</head>
<body>
  <section>
    <ul id="ulNicks"></ul>
      <input
      id="inputName"
      placeholder="Insira seu nickname"
      data-testid="nickname-box"
    />
    <button id="btn" data-testid="nickname-button">Salvar</button>
  </section>
  <section>
    <ul id="messages"></ul>
      <form action="">
        <input
          id="messageInput"
          autocomplete="off"
          data-testid="message-box"
        />
        <button data-testid="send-button">Enviar</button>
      </form>
  </section>
  <script src="/socket.io/socket.io.js"></script>
  <script src='./js/chat.js'></script>
</body>
</html>