<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webchat - Trybe</title>
</head>
<body>
  <ul id="messages"></ul>
  <ul id="userNames"></ul>
  <form id="formNickname" action="">
    <input id="inputNickname" type="text" placeholder="Insira seu nickname" data-testid="nickname-box"/>
    <button id="saveButton" data-testid="nickname-button">Salvar</button>
  </form>
  <form id="formChat" action="">
    <input id="messageInput" autocomplete="off" data-testid="message-box"/>
    <button id="sendButton" data-testid="send-button">Enviar</button>
  </form>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src='../js/chat.js'></script>
</html>