<!DOCTYPE html>
<html>
<head>
  <title>Socket.IO - Trybe</title>
  <link rel="stylesheet" href="./chat.css">
</head>
<body>
  <div id="container">
    <aside>
      <header>
        <input type="text" placeholder="search">
      </header>
      <ul>
        <li>
          <img src="https://ca.slack-edge.com/TMDDFEPFU-U01L3FEQB8C-4222afa30794-512" width="50px" alt="">
          <div>
            <h2>Rafael Mathias</h2>
            <h3>
              <span class="status green"></span>
              offline
            </h3>
          </div>
        </li>
        <li>
          <img src="https://ca.slack-edge.com/TMDDFEPFU-U01L9V95P5X-ea05e8dc726f-512" width="50px"  alt="">
          <div>
            <h2>Lucas Lotar</h2>
            <h3>
              <span class="status green"></span>
              online
            </h3>
          </div>
        </li>
        <li>
          <img src="https://ca.slack-edge.com/TMDDFEPFU-U01HK94PW9W-0ffbcec0f18e-512" width="50px" alt="">
          <div>
            <h2>Felippe Correa</h2>
            <h3>
              <span class="status green"></span>
              offline
            </h3>
          </div>
        </li>
        <li>
          <img src="https://ca.slack-edge.com/TMDDFEPFU-U01K7CSJ66L-9196e759c4b5-512" width="50px" alt="">
          <div>
            <h2>Renan Braga</h2>
            <h3>
              <span class="status green"></span>
              online
            </h3>
          </div>
        </li>
        <li>
          <img src="https://ca.slack-edge.com/TMDDFEPFU-U01J2Q2FXQX-09d09264356a-512" width="50px" alt="">
          <div>
            <h2>João Herculano</h2>
            <h3>
              <span class="status green"></span>
              offline
            </h3>
          </div>
        </li>
      </ul>
    </aside>
    <main>
      <header>
        <img src="https://media.glassdoor.com/sqll/3790463/trybe-brazil-squareLogo-1620041924353.png" width="60px" alt="">
        <div>
          <h2>TrybeChat</h2>
          <h3>tem 142 mensagens</h3>
        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png" alt="">
      </header>
      <ul id="chat">
        <li class="you">
          <div class="entete">
            <span class="status green"></span>
            <h2>Vincent</h2>
            <h3>10:12AM, Today</h3>
          </div>
          <div class="triangle"></div>
          <div class="message">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          </div>
        </li>
        <li class="me">
          <div class="entete">
            <h3>10:12AM, Today</h3>
            <h2>Vincent</h2>
            <span class="status blue"></span>
          </div>
          <div class="triangle"></div>
          <div class="message">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          </div>
        </li>
        <li class="me">
          <div class="entete">
            <h3>10:12AM, Today</h3>
            <h2>Vincent</h2>
            <span class="status blue"></span>
          </div>
          <div class="triangle"></div>
          <div class="message">
            OK
          </div>
        </li>
        <li class="you">
          <div class="entete">
            <span class="status green"></span>
            <h2>Vincent</h2>
            <h3>10:12AM, Today</h3>
          </div>
          <div class="triangle"></div>
          <div class="message">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          </div>
        </li>
        <li class="me">
          <div class="entete">
            <h3>10:12AM, Today</h3>
            <h2>Vincent</h2>
            <span class="status blue"></span>
          </div>
          <div class="triangle"></div>
          <div class="message">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          </div>
        </li>
        <li class="me">
          <div class="entete">
            <h3>10:12AM, Today</h3>
            <h2>Vincent</h2>
            <span class="status blue"></span>
          </div>
          <div class="triangle"></div>
          <div class="message">
            OK
          </div>
        </li>
      </ul>
      <footer>
        <textarea placeholder="Type your message" id="msg"></textarea>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png" alt="">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png" alt="">
        <a href="#">Send</a>
      </footer>
    </main>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="./chat.js"></script>
</body>
</html>