<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
</head>
<body>
  <h4>Usuários Online</h4>
  <ul id="ul-online-user"></ul>
  <form>
    <input type="text" name="username" data-testid="nickname-box" placeholder="Digite seu nickname" id="input-nick"/>
    <button type="submit" data-testid="nickname-button" id="add-new-nick">Salvar</button>
  </form>

  <div>
    <ul id="ul-msg">CHAT</ul>

    <form>
      <input data-testid="message-box" id="input-message" type="text" placeholder="Digite uma nova mensagem aqui"/>
      <button data-testid="send-button" id="send-message">Enviar</button>
    </form>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="./js/script.js"></script>
</body>
</html>