<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  <title>Document</title>
</head>
<body>
  <h1>Chat</h1>
  <div>
    <div>
        <input id="name" type="text"
          placeholder="Insira seu nome"
          data-testid="nickname-box"
        />
      <button id="salvar" data-testid="nickname-button">Ssalvar</button>
    </div>
    <div>
      <section id="esquerda">
        <ul id="li-esquerda"></ul>
      </section>
      <section id="direita">
        <ul id="ul"></ul>
      </section>
    </div>
    <div>
        <input id="message" type="text"
        data-testid="message-box"/>
      <button id="enviar" data-testid="send-button">Enviar</button>
    </div>
  </div>

  <script>
    const socket = window.io('http://localhost:3000/');
    const salvar = document.getElementById('salvar');
    const enviar = document.getElementById('enviar');

    function renderMessage(user) {
      const ul = document.getElementById("ul");
      const li = document.createElement("li");
      const data = user.data;
      const name = user.name;
      const message = user.message;
      const text = `${data} - ${name}: ${message}`;
      li.appendChild(document.createTextNode(text));
      li.setAttribute('data-testid', 'message');
      ul.appendChild(li);
    }
    function renderNamesLogados(namesLogados) {
      const ul = document.getElementById("li-esquerda");
      namesLogados.forEach((names) => {
        const li = document.createElement("li");
        li.appendChild(document.createTextNode(names));
        li.setAttribute('data-testid', 'online-user');
        ul.appendChild(li);
      })
      
    }
    socket.on('nomeAleatorio', randomAll => {
      renderNamesLogados(randomAll);
    });

    socket.on('receivedMessage', (user) => {
      renderMessage(user);
    });
    salvar.addEventListener('click', () => {
      const name = document.getElementById('name').value;
      socket.emit('salveUser', name);
    });
    enviar.addEventListener('click', () => {
      const message = document.getElementById('message').value;

      socket.emit('salveMessage', message);
    });
  </script>
</body>
</html>