<!DOCTYPE html>
<html lang="en">
<div>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trybe-Chat</title>
</div>
<body>
  <div>

    <ul id="usersConect"></ul>
  <form action="">
    <input data-testid="nickname-box" type="text" id="input-nick" placeholder="Chage your nick" required/>
    <button data-testid="nickname-button" id="button-nick">Chage Nick!</button>
  </form>
  <p>Mensagens: </p>
  <ul id="ul-message"></ul>


  <form action="">
    <input data-testid="message-box" type="text" id="input-message" placeholder="message:"/>
    <button data-testid="send-button" id="button-message">Send</button>
  </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src ="./Script/index.js"></script>
</body>
</html>