<!-- Chat Frontend source: https://socket.io/get-started/chat#serving-html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="/views/style.css">
  </head>
  <body>
    <ul class="messages"></ul>
    <form class="form" action="">
      <input class="input" autocomplete="off" /><button>Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      const form = document.querySelector('.form');
      const input = document.querySelector('.input');
      const messages = document.querySelector('.messages');

      form.addEventListener('submit', (e) => {
        e.preventDefault();
        if (input.value) {
          console.log(socket.id.lenght);
          const messageData = { nickname: 'Jonnes', chatMessage: input.value };
          console.log(messageData);
          socket.emit('message', messageData);
          input.value = '';
        }
      });

      socket.on('message', (message) => {
        console.log(message);
        const item = document.createElement('li');
        item.textContent = message;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });
    </script>
  </body>
</html>