<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
</head>
<body>
  <h1>Scafold criado</h1>
  <script src="/socket.io/socket.io.js"></script> 
  <script>
    window.onload = function() {
      var socket = io.connect('http://localhost:3000');
    }
  </script>
</body>
</html>