<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Web Chat</title>
</head>
<body>
  <h1 id="title">Hello my friends</h1>
  <form action="sendMessage" method="post" class="formMessage">
    <div class="chat">
      
    </div>
    <div>
      <label for="nickname">Nickname: <span data-testid="online-user" class="name"></span> </label> <br>
      <input data-testid="nickname-box" type="text" id="nickname" class="nickname">
      <button data-testid="nickname-button" class="btn_nickname">CHANGE</button>
    </div>
    <input type="text" data-testid="message-box" class="msgtxt">
    <button data-testid="send-button" class="send" type="submit">SEND</button>
  </form>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="javaScript/index.js"></script>
</html>