<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Socket.IO WebChat</title>  
  </head>
  <body>
    <main>
      <div class="container">
        <div class="user">
          <form id="form-nickname" action="">
            <input id="input-nickname" autocomplete="off" placeholder="Nickname" data-testid="nickname-box"/>
            <button data-testid="nickname-button">Send</button>
          </form>
          <ul id="users"></ul>
        </div>
    
        <ul id="messages" class="messages"></ul>
      </div>
  
      <form id="form" class="form" action="">
        <input id="inputMessage" autocomplete="off" data-testid="message-box" placeholder="Message"/>
        <button data-testid="send-button">Send</button>
      </form>
    </main>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
      function makeid(length) {
        let result = '';
        const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        const charactersLength = characters.length;
        for (let i = 0; i < length; i += 1) {
          result += characters.charAt(Math.floor(Math.random() 
            * charactersLength));
        }
        return result;
      }
      let randomNickName = makeid(16);
      let initialNickName = randomNickName;

      const socket = io();
      window.onload = () => {
        socket.emit('nickname', initialNickName)
      }

      // render nickname
      socket.on('nickname', (users) => {
        let nicks = '';
        const listUsers = document.getElementById('users')
        users.map((user) => {       
          nicks += `<li data-testid="online-user">${user}</li>`
        })
        listUsers.innerHTML = nicks;
      });
      
      //change nickname
      const formNickname = document.getElementById('form-nickname');
      const inputNickname = document.getElementById('input-nickname');
      
      formNickname.addEventListener('submit', function(e) {
        e.preventDefault();
        if (inputNickname.value) {         
          console.log(inputNickname.value)
          socket.emit('changeNickname', {
            newNick: inputNickname.value,
            randomNickName
          });
          initialNickName = inputNickname.value;
          randomNickName = inputNickname.value
          inputNickname.value = '';  
        }
      });

      //render and insert new message
      const formEl = document.getElementById('form');
      const inputMessage = document.getElementById('inputMessage');
      
      formEl.addEventListener('submit', function(e) {
        e.preventDefault();
        if (inputMessage.value) {         
          socket.emit('message', {
            chatMessage: inputMessage.value,
            nickname: initialNickName,
          });
          inputMessage.value = '';   
        }
      });
      
      socket.on('message', (message) => {
        const listMessage = document.getElementById('messages');
        const item = document.createElement('li');
        item.textContent = message;
        item.setAttribute('data-testid', 'message')
        listMessage.appendChild(item);
      });
    </script>
  </body>
</html>