<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
</head>
<body> 
  
  <!-- <p id="nick-tela"></p> -->

  <p>USUÁRIOS ONLINE</p>
  <ul id="ul-online-user"></ul>
  
  <form action="">
    <input data-testid="nickname-box" type="text" id="input-nick">
    <button data-testid="nickname-button" id="enviar-novo-nick">Trocar nick</button>
  </form>
  
  <div>

    <p>CHAT</p>
    <ul id="ul-msg"></ul>
    
    <form action="">
      <input data-testid="message-box" type="text" id="input-message"/>
      <button data-testid="send-button" id="enviar-msg">Enviar</button>
    </form> 
  </div>


  <script src="/socket.io/socket.io.js"></script>
  <script src="./js/script.js"></script>
</body>
</html>