<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
      <form class="create-nick-form" id="nick-form" >
        <input placeholder="Insira seu nickname" id="nick" type="text"/>
        <button type="submit">Salvar</button>
      </form>

    <section class="sec-nick-list">
      <h1>Usuários online</h1>
      <ul id="username-list">

      </ul>
    </section>
    <section class="sec-messages-list">
      <h1 >Mensagens</h1>

      <ul id="messages-list">

      </ul>
    </section>

      <form  class="create-message-form" id="message-form">
        <input 
        placeholder="Digite uma nova mensagem aqui"  data-testid="message-box" type="text" id="message" />
        <button type="submit" id="msg-submit" data-testid="send-button">Enviar</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../utils//utils.js"></script>

</body>
</html>