<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Chat</h1>
    <ul id="messages"></ul>
    <form id="nickNameForm">
      <input id="nickNameInput" autocomplete="off" placeholder="Nick name" />
      <button>Save</button>
    </form>
    <form id="messageForm">
      <input id="messageInput" autocomplete="off" />
      <button>Send</button>
    </form>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    let nickName;

    const nickNameForm = document.querySelector("#nickNameForm");
    const nickNameInput = document.querySelector("#nickNameInput");

    const messageForm = document.querySelector("#messageForm");
    const messageInput = document.querySelector("#messageInput");

    messageForm.addEventListener("submit", (e) => {
      e.preventDefault();
      socket.emit("clientMessage", {
        chatMessage: messageInput.value,
        nickname: nickName,
      });
      messageInput.value = "";
      return false;
    });

    nickNameForm.addEventListener("submit", (e) => {
      e.preventDefault();
      nickName = nickNameInput.value;
      nickNameInput.value = "";
      return false;
    });

    const createMessage = (message) => {
      const messagesUl = document.querySelector("#messages");
      const li = document.createElement("li");
      li.innerText = message;
      messagesUl.appendChild(li);
    };

    socket.on("serverMessage", (message) => createMessage(message));

    window.onbeforeunload = () => {
      socket.disconnect();
    };
  </script>
</html>
