<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Chat</h1>
    <ul id="usersContainer">
      <% onlineUsers && onlineUsers.forEach(({nickname,_id}) => { %>
      <li id="<%= _id %>" data-testid="online-user"><%= `${nickname}` %></li>
      <% }) %>
    </ul>
    <ul id="messages">
      <%messages && messages.forEach(({message,nickname,timestamp}) => { %>
      <li data-testid="message">
        <%= `${timestamp} - ${nickname}: ${message}` %>
      </li>
      <% }) %>
    </ul>
    <form id="nicknameForm">
      <input
        id="nicknameInput"
        autocomplete="off"
        placeholder="Nick name"
        data-testid="nickname-box"
      />
      <button data-testid="nickname-button">Save</button>
    </form>
    <form id="messageForm">
      <input id="messageInput" autocomplete="off" data-testid="message-box" />
      <button data-testid="send-button">Send</button>
    </form>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    const messageForm = document.querySelector("#messageForm");
    const messageInput = document.querySelector("#messageInput");

    messageForm.addEventListener("submit", (e) => {
      e.preventDefault();
      socket.emit("message", {
        chatMessage: messageInput.value,
        nickname: nickname,
      });
      messageInput.value = "";
      return false;
    });

    const createMessage = (message) => {
      const messagesUl = document.querySelector("#messages");
      const li = document.createElement("li");
      li.innerText = message;
      li.setAttribute("data-testid", "message");
      messagesUl.appendChild(li);
    };

    let nickname;

    const nicknameForm = document.querySelector("#nicknameForm");
    const nicknameInput = document.querySelector("#nicknameInput");

    nicknameForm.addEventListener("submit", (e) => {
      e.preventDefault();
      const oldNickname = nickname;
      nickname = nicknameInput.value;
      nicknameInput.value = "";
      socket.emit("setNewNickname", { oldNickname, nickname });
      return false;
    });

    const addUser = (nickname) => {
      const usersContainer = document.querySelector("#usersContainer");
      const li = document.createElement("li");
      li.innerText = nickname;
      li.setAttribute("data-testid", "online-user");
      usersContainer.appendChild(li);
    };

    socket.on("message", (message) => createMessage(message));
    socket.on("setUser", (randomUser) => {
      nickname = randomUser;
      addUser(randomUser);
    });
  </script>
</html>
