<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WebChat</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="top-screen">
      <div class="name-screen">
        <form class="nicknameForm">
          <input
            type="text"
            name="nickname"
            id="nickname"
            class="nickname-input"
            placeholder="Nickname"
            data-testid="nickname-box"
          />
          <button class="ok-btn" data-testid="nickname-button">Ok</button>
        </form>
        <p>Usuários</p>
        <ul class="nicknames"></ul>
      </div>
      <div class="message-screen">
        <ul class="messages">
          <% messages.forEach((message) => { %>
          <li data-testid="message"><%= message %></li>
          <%}) %>
        </ul>
      </div>
    </div>
    <div class="send-message">
      <form class="message-form">
        <input
          type="text"
          id="message"
          class="message"
          placeholder="Type..."
          data-testid="message-box"
          autocomplete="off"
        />
        <button class="send-btn" data-testid="send-button">Enviar</button>
      </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      let nickname;
      let nicknameId;

      const messageForm = document.querySelector('.message-form');
      const sendMessage = document.querySelector('#message');
      messageForm.addEventListener('submit', (event) => {
        event.preventDefault();
        const mensagem = {
          chatMessage: sendMessage.value,
          nickname,
        };
        socket.emit('message', mensagem);
        sendMessage.value = '';
      });

      socket.on('nicknameId', (initialName) => {
        nicknameId = initialName;
        nickname = initialName;
      });

      const getMessage = (message) => {
        const messagesUl = document.querySelector('.messages');
        const li = document.createElement('li');
        li.innerText = message;
        li.setAttribute('data-testid', 'message');
        messagesUl.appendChild(li);
      };

      socket.on('message', (message) => {
        getMessage(message);
      });

      const nicknameForm = document.querySelector('.nicknameForm');
      const sendNickname = document.querySelector('.nickname-input');
      nicknameForm.addEventListener('submit', (e) => {
        e.preventDefault();
        nickname = sendNickname.value;
        socket.emit('newNickname', nickname);
        sendNickname.value = '';
        return false;
      });

      socket.on('onlineUsers', (updatedOnlineUsers) => {
        const userData = { nicknameId, databaseNickname: nickname };
        const sortedOnlineUsers = updatedOnlineUsers.filter(
          (user) => user.nicknameId !== nicknameId,
        );
        sortedOnlineUsers.unshift(userData);

        const ul = document.querySelector('.nicknames');
        while (ul.firstElementChild) {
          ul.removeChild(ul.firstElementChild);
        }
        sortedOnlineUsers.forEach((user) => {
          const li = document.createElement('li');
          li.innerText = user.databaseNickname;
          li.setAttribute('data-testid', 'online-user');
          li.classList.add('nickname');
          ul.appendChild(li);
        });
      });
    </script>
  </body>
</html>
