<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/socket.io/socket.io.js"></script>
  <title>Trybe Web Chat</title>
  <script>
    function load() {
      console.log("Evento de carregamento detectado!");
      // https://www.youtube.com/watch?v=Hr5pAAIXjkA&ab_channel=DevPleno
      let nickname = '';
      const randomString = (length) => {
        do {
          nickname += Math.random().toString(36).substr(2);
        } while(nickname.length < length);
        nickname = nickname.substr(0, length);
        return nickname;
      }

      const inputRandomNickname = document.querySelector('.randomNickname');
      const stringNickname = randomString(16);
      inputRandomNickname.innerHTML = stringNickname;
    }
    window.onload = load;
  </script>
</head>
<body>
  <h1>Trybe Web Chat</h1>

  <form id="chat">
    <p data-testid="online-user" class="randomNickname"></p>
    <input type="text" data-testid="nickname-box" name="nickname" class="nickname" placeholder="Digite seu nickname...">
    <button type="button" data-testid="nickname-button" class="saveNickname">Salvar</button>
    <input type="text" data-testid="message-box" name="inputMessage" value="" class="chatMessage" placeholder="Escreva aqui...">
    <div class="messages">
    <button data-testid="send-button" type="submit">Enviar</button>
  </form>

</body>
<script>
  const socket = io();

  const form = document.querySelector('#chat');

  form.addEventListener('submit', (event) => {
    event.preventDefault();

    const inputMessage = document.querySelector('.chatMessage').value;
    const inputNickname = document.querySelector('.nickname').value;

    if(inputMessage.length) {
      var sendMessage = {
        nickname: inputNickname,
        chatMessage: inputMessage,
      }
      socket.emit('message', sendMessage);
    }

    const createMessage = (message) => {
        const messagesUl = document.querySelector('.messages');
        const li = document.createElement('li');
        // https://pt.stackoverflow.com/questions/56766/adicionar-atributo-a-um-elemento
        li.setAttribute('data-testid', 'message')
        li.innerText = message;
        messagesUl.appendChild(li);
    }

    // // https://www.youtube.com/watch?v=Hr5pAAIXjkA&ab_channel=DevPleno
    // let nickname = '';
    // const randomString = (length) => {
    //   do {
    //     nickname += Math.random().toString(36).substr(2);
    //   } while(nickname.length < length);
    //   nickname = nickname.substr(0, length);
    //   return nickname;
    // }

    // const inputRandomNickname = document.querySelector('.randomNickname');
    // const stringNickname = randomString(16);
    // inputRandomNickname.innerHTML = stringNickname;

    socket.on('message', (message) => createMessage(message));
    // socket.emit('randomNick', () => createNick());

  });
</script>
</html>