<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trybe Chat</title>
  <link href='/css/webchat.css' rel="stylesheet">
</head>
<body>
  <form>
    <input placeholder="Change your username" data-testid="nickname-box"/>
    <button data-testid="nickname-button" id="changeNickname">Save</button>
  </form>
  <div>
    <h2>Online Users</h2>
    <ul id='users'></ul>
  </div>
  <form>
    <input data-testid="message-box"/>
    <button data-testid="send-button" id="sendMessage">Send</button>
  </form>
  <ul id="chat"></ul>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src='./js/webchat.js'></script>
</html>