 * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

main {
	height: 100%;
	width: 80%;
	margin: auto;
	padding: 1rem;
	display: flex;
}

.user-container {
	width: 50%;
}

.chat__container {
	width: 50%;
}

.form__container form {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.nick__container {
	width: 70%;
}

.nick__container input {
	width: 100%;
	padding: .5rem;
	border-radius: 10px;
}

.save__container {
	width: 20%;
}

.save__container button {
	padding: .5rem 1rem;
	margin-left: .5rem;
	border-radius: 5px;
}

.user-list__container {
	width: 38%;
	margin-top: 2rem;
}

.msgs__container {
	height: 100%;
	border: 1px solid black;
	border-radius: 5px;
	padding: 1rem;
}

.user-list {
	margin-left: 2rem;
}

.input-msg__container {
	width: 80%;
	margin: auto;
	padding: 1rem;
	display: flex;
}

.input-msg__container form {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-left: 10rem;
}

.msg__container {
	width: 80%;
}

.msgs__container ul li {
	margin-left: 2rem;
}

.msg__container input {
	width: 100%;
	padding: .5rem;
}

.send-msg__container {
	width: 20%;
}
.send-msg__container button {
	padding: .5rem 1rem;
	margin-left: .5rem;
	border-radius: 5px;
}