* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  height: 100%;
  margin: auto;
  padding: 1rem;
  width: 80%;
}

.user-container {
  width: 50%;
}

.chat__container {
  width: 50%;
}

.form__container form {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nick__container {
  width: 70%;
}

.nick__container input {
  border-radius: 10px;
  padding: 0.5rem;
  width: 100%;
}

.save__container {
  width: 20%;
}

.save__container button {
  border-radius: 5px;
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
}

.user-list__container {
  margin-top: 2rem;
  width: 38%;
}

.msgs__container {
  border: 1px solid black;
  border-radius: 5px;
  height: 100%;
  padding: 1rem;
}

.user-list {
  margin-left: 2rem;
}

.input-msg__container {
  display: flex;
  margin: auto;
  padding: 1rem;
  width: 80%;
}

.input-msg__container form {
  display: flex;
  justify-content: space-between;
  margin-left: 10rem;
  width: 100%;
}

.msg__container {
  width: 80%;
}

.msgs__container ul li {
  margin-left: 2rem;
}

.msg__container input {
  padding: 0.5rem;
  width: 100%;
}

.send-msg__container {
  width: 20%;
}

.send-msg__container button {
  border-radius: 5px;
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
}
