.App {
  display: grid;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template: 0.3fr 2.4fr 0.3fr / 1fr;
  grid-template-areas: 'header'
    'main'
    'entry';
  height: 100vh;
  width: 100%;
}

.header {
  background-color: navy;
  grid-area: header;
}

.main {
  display: grid;
  gap: 0 0;
  grid-area: main;
  grid-auto-flow: row;
  grid-template: 1fr / 0.7fr 1.3fr;
  grid-template-areas: 'users messages';
}

.users {
  display: grid;
  gap: 0 0;
  grid-area: users;
  grid-auto-flow: row;
  grid-template: 0.2fr 1.8fr / 1fr;
  grid-template-areas: 'input-nickname'
    'online-users';
}

.online-users {
  grid-area: online-users;
}

.input-nickname {
  grid-area: input-nickname;
}

.messages {
  display: flex;
  flex-direction: column;
  grid-area: messages;
  height: 100%;
  padding: 15px;
}

.message {
  padding: 15px;
}

.entry {
  align-items: center;
  display: flex;
  flex-direction: row;
  grid-area: entry;
  justify-content: space-evenly;
}

.input {
  padding: 10px;
  width: 80%;
}

.btn-submit {
  background-color: navy;
  border-radius: 8px;
  color: aliceblue;
  padding: 12px 28px;
}
