body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

#message-container {
  border: 1px solid black;
  flex-grow: 1;
  overflow-y: auto;
}

#message-container div {
  background-color: #ccc;
  padding: 5px;
}
