<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Project Webchat Socket.io</title>
  </head>

  <body>
    <section>
      <form class="form_nickname" action="">
        <input class="nickname" data-testid="nickname-box" type="text" placeholder="Insira seu nickname"/>
        <button class="send_nickname" data-testid="nickname-button" type="submit">Send</button>
        <ul class="nicknames"></ul>
      </form>
    </section>

    <section>
      <form class="form" action="">
        <ul class="messages"></ul>
        <input class="messages__item" data-testid="message-box" />
        <button class="send_message" data-testid="send-button" type="submit">Send</button>
      </form>
    </body>

    </section>


  <script src="/socket.io/socket.io.js"></script>
  <script src="../js/chat.js"></script>
</html>
