<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Project Webchat Socket.io</title>
  </head>

  <body>
    <section>
      <form class="form_nickname" action="">
        <input id="nickname" type="text" placeholder="Insira seu nickname"/>
        <button id="send_nickname" type="submit">Send</button>
      </form>
    </section>

    <ul class="messages">
      <form class="form" action="">
        <input id="messages__item" />
        <button id="send_message" type="submit">Send</button>
      </form>
    </ul>
  </body>

  <script src="/socket.io/socket.io.js"></script>
  <script src="../js/chat.js"></script>
</html>
