<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/public/css/reset.css" />
    <link rel="stylesheet" href="/static/public/css/webchat.css" />
    <title>Tell Me</title>
  </head>
  <body>
    <div class="upper">
      <div class="upper__left">
        <div class="upper__left__nickname">
          <div class="upper__left__input">
            <label for="nickname">nickname</label>
            <input data-testid="nickname-box" id="nickname" type="text" />
          </div>
          <button data-testid="nickname-button" id="changeNickname">save</button>
        </div>
        <ul id="userList">
        </ul>
      </div>
      <ul id="messageList" class="upper__right"></ul>
    </div>
    <div class="bottom">
      <input data-testid="message-box" id="sendText" type="text" />
      <button data-testid="send-button" id="sendButton">enviar</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js "></script>
    <script type="module" src="/static/public/scripts/socket.js"></script>
  </body>
</html>
