@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, input, button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

main {
  height: 100vh;
  width: 100vw;
}

li {
  list-style: none;
}

button {
  background-color: rgb(91, 101, 231);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

input {
  border: gray solid 1px;
  border-radius: 5px;
  outline: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: calc(100% - 100px);
}

.user form {
  display: flex;
  padding: 50px;
  border-bottom: gray solid 1px;
  width: 100%;
  justify-content: space-between;
}

.user input {
  margin-right: 20px;
  height: 30px;
  padding: 15px;
  width: 100%;
}

.user button {
  height: 30px;
  padding: 0 20px;
}

.user ul li {
  border-bottom: gray solid 1px;
  padding: 20px 50px;
}

.user ul li:nth-child( even ) {
  background-color: rgb(240, 240, 240);
}

.messages {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: gray solid 2px;
  padding: 20px 50px;
  justify-content: flex-end;
}

.form {
  bottom: 0px;
  left: 0px;
  position: fixed;
  align-items: center;
  height: 100px;
  width: 100vw;
  display: flex;
}

.form input {
  height: 50px;
  margin: 0 20px 0 50px;
  padding: 20px;
  width: 100%;
}

.form button {
  height: 50px;
  margin-right: 50px;
  padding: 0 50px;
}
